.ce-image-wrapper {
	padding: 20px 0;
}

.ce-image-wrapper.withBorder img {
	border: 2px solid #eaeaea;
}

.ce-image-wrapper.withBackground, .ce-image-wrapper.withBackground input {
	background: #f9f9f9;
	padding: 10px;
}

.ce-image-wrapper.withBackground img {
	display: block;
	max-width: 60%;
	margin: 0 auto 15px;
}

.ce-image {
	width: 100%;
  border-radius: 2px;
	margin-bottom: 15px;
}

.ce-image-caption {
	padding: 10px;
  outline: none;
  width: 100%;
	border: none;
  text-align: center;
	font-size: 12px;
  color: gray;
}